

<h1><%= @team.name %></h1>
<p>Team Motto: <%= @team.motto %></p>

<% @member.each do |m| %>

    <h1>Hero Name: <%= m.name %></h1>
    <p>Hero Power: <%= m.power %></p>
    <p>Hero Biography: <%= m.bio %></p>
    <% end %>


